.mobile-navbar-container {
    height: 60px;
}

.mobile-navbar-profilepic {
    width: 50px;
    height: 50px;
}

.mobile-navbar-image-nav {
    background-color: rgb(255, 255, 255);
}

.mobile-navbar-image-logo {
    margin: auto;
    text-align: center;
    height: auto;
    width: 280px
}

.mobile-navbar {
    background-color: white;
}

.mobile-navbar-nav-logo {
    background-color: rgb(255, 255, 255);
    padding: 28px 12px 0px 0px;
    height: 40px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mobile-navbar-figure {
    margin-left: 60px
}