body {
    padding-top:50px
}
.mobile-navbar-container {
    height: 60px;
}

.mobile-navbar-profilepic {
    width: 50px;
    height: 50px;
}

.mobile-navbar-image-nav {
    background-color: rgb(255, 255, 255);
}

.mobile-navbar-image-logo {
    margin: auto;
    text-align: center;
    height: auto;
    width: 280px
}

.mobile-navbar {
    background-color: white;
    z-index: 1;
}

.mobile-navbar-nav-logo {
    background-color: rgb(255, 255, 255);
    padding: 28px 12px 0px 0px;
    height: 40px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.dropdown-div{
    position: fixed;
    right: 0;
    z-index: 1031;
    top: 0px;
    padding: 15px 12px;
}

.dropdown-parent{
    position: absolute;
    top: 100%;
    height: 140px;
    background-color: white;
    display: flex;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: #AEB4B7;
    flex-direction: column;
    justify-content: center;
    right: 7px;
}

.dropdown-items{
    margin: 10px;
    
}

.dropdown-username{
    color: #AEB4B7;
    text-decoration: none;
}

.dropdown-link {
    color: black;
    text-decoration: none;
}