.desktop-footer-style {
    text-decoration: none;
}

.desktop-ul-link {
    font-size: medium;
    margin-top:15px;
}

.desktop-footer-link:hover {
    color: green;
    text-decoration: none;
}

.desktop-footer-link {
    text-decoration: none;
    color: white;
}

.desktop-row {
    padding: 0px 0px 0px 0px
}

.copyright-div {
    font-size: small;
}

.desktop-footer-links-div {
    height: 40px;
}

