.desktop-footer-style {
    text-decoration: none;
    background-color: rgb(131, 131, 131);
    color: white; /* Set text color if needed */
    padding: 20px; /* Adjust padding as needed */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
}

.desktop-ul-link {
    font-size: medium;
    margin-top:15px;
}

.desktop-footer-link:hover {
    color: rgb(217, 216, 216);
    text-decoration: none;
}

.desktop-footer-link {
    text-decoration: none;
    color: white;
}

.desktop-row {
    padding: 0px 0px 0px 0px
}

.copyright-div {
    font-size: small;
}

.desktop-footer-links-div {
    height: 40px;
}

