.mobile-page-footer {
    color: white; /* Set text color if needed */
    padding: 10px; /* Adjust padding as needed */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
}

.ul-link {
    list-style-type: none;
    padding: 0;
}

.footer-link {
    color: white; /* Set link color if needed */
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline; /* Add underline on hover if needed */
}

.mobile-icons {
    font-size: 50px;
    color: black;
}

.row {
    padding: 0px 0px 0px 0px;
}