.mobile-page-footer {
    color: white; 
    padding: 0px 0px 0px 0px; 
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    margin: 0px 0px 0px 0px;
}

.ul-link {
    list-style-type: none;
    padding: 0;
}

.footer-link {
    color: white; 
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline; 
}

.mobile-icons {
    font-size: 50px;
    color: black;
    margin: 20px 0px 0px 0px
}

.row {
    padding: 0px 0px 0px 0px;
}